@charset "utf-8";
*{
    margin: 0 auto;
    padding: 0;
    text-decoration : none;
    color: black;
    list-style-type: none;
}

/* body{
    width: 1600px;
    margin: 0 auto;
} */

header {
    width: 1600px ;
    height: 100px ;
    position: fixed;
    right:0;
    left:0;
    top:0;
    background-color: white;
}

header > .top {
    display: flex ;
}

header > .top > .logo {
    width: 130px;
    display: flex ;
    align-items: center ;
}

header > .top > .logo > a > img{
    width:153px;
}

header > .top > .left {
    line-height: 100px ;
    width: 1000px ;
    height: 100px; 
}

header > .top > .left > .menu > li {
    width: 100px ;
    float: left ;
    font-size: 13px;
    text-align: center;
}

header > .top > .left > .menu > .submenu{
    display: none;
}

header > .top > .right {
    line-height: 100px ;
    width: 300px ;
    height: 100px;
}

header > .top > .right > ul > li {
    width: 60px;
    float: left;
    font-size: 13px;
    text-align: center;
}

/* section */

/*section slide*/

.slide{
    width: 1600px;
    margin-top: 100px;
}

.slide > img {
    width:1600px;
}

/*section slide*/

/*section shoes*/

.shoes {
    width:1600px;
    height: 950px;
}

.shoes > .line{
    text-align: center;
    margin-top: 70px;
}

.shoes > .shoesinf {
    float:left;
    text-align: center;
    margin-left: 40px;
    
}

.shoes > .shoesinf > ul > li > img {
    width: 350px;
} 

.shoes > .shoesinf > ul > .s_name {
    font-size: 16px;
    color: #555;
    font-weight: 700;
} 

.shoes > .shoesinf > ul >  li > span {
    font-size: 16px;
    color: #7a000c;
    font-weight: 700;
} 

.shoes > .shoesinf > ul >  li > .won {
    font-size: 14px;
    color: #555;
    font-weight: 400;
} 

/*section shoes*/

/*section banner*/

.banner {
    width:1600px;
}

.banner > img {
    width:1600px;
}

/*section banner*/

/*section item*/

.item {
    width:1600px;
    height: 950px;
}

.item > .line{
    text-align: center;
    margin-top: 70px;
}

.item > .iteminf {
    float:left;
    text-align: center;
    width:400px;
    /* word-break: break-all; */
}

.item > .iteminf > ul > li > img {
    width: 350px;
}

.item > .iteminf > ul > .i_name {
    font-size: 16px;
    color: #555;
    font-weight: 700;
} 

.item > .iteminf > ul >  li > span {
    font-size: 16px;
    color: #7a000c;
    font-weight: 700;
} 

.item > .iteminf > ul >  li > .won {
    font-size: 14px;
    color: #555;
    font-weight: 400;
}

.item > .iteminf > ul > li > h4 {
    margin-top:20px;
    color: gray;
}

/*section item*/

/*section gallery*/

.gallery {
    width: 1600px;
}

.gallery > .line{
    text-align: center;
    margin-top: 70px;
}

.gallery > .pictures {
    margin-top: 35px;
}

.gallery > .pictures > ul {
    display:flex;
    flex-wrap: wrap;
}

/* 
.gallery > .pictures > ul > li > img{
    float:left;
} */

.gallery > .pictures > ul > .big_p >img {
    width:800px;
    display:flex;
}

.gallery > .pictures > ul > .small_p > img{
    width:400px;
    display:flex;
}

.gallery > .pictures > ul > li:nth-of-type(6n) > img{
    margin-top:-50%;
}

/*section gallery*/

/*section footer*/

footer {
    margin-top: 70px;
    width: 1600px;
}

footer > .f_top {
    text-align: center;
    color: white;
    background: #555;
    height: 236px;
    box-sizing:border-box;
    padding:50px;
    font-size: 14px;
}

footer > .f_top > h1 {
    color: white;
    font-size: 30px;
    font-weight: 700;
}

footer > .f_top > ul > li {
    border: 1px solid white;
    border-radius: 5px;
    display:inline-block;
    width:172px;
    height:48px; 
    color: white;
    box-sizing: border-box;
    padding: 13px;
    margin:20px 3px;
}

footer > .f_bottom {
    text-align: center;
    /* color: #a4a4a4; */
    background: #333;
    height: 340px;
}

footer > .f_bottom > .sns {
    width:115px;
    display:flex;
}

footer > .f_bottom > .sns > li {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: #b2b2b2;
    line-height: 52px;
    margin-top: 30px;
}
    
footer > .f_bottom > .f_menu > li {
    margin-top: 20px;
    color: #a4a4a4;
    display:inline-block;
    padding:3px;
    font-size: 13px;
    font-weight: bold;
}

footer > .f_bottom > .info > h1 {
    margin-top:17px;
    margin-bottom: 17px ;
    color: #a4a4a4;
    font-size: 16px; 
}

footer > .f_bottom > .info > p {
    padding:3px;
    color: #a4a4a4;
    font-size: 13px;
    font-weight: bold; 
}
